<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Principal</title>
  <link rel="stylesheet" href="/stylesheet/index.css">
</head>
<body>
  <main class="main">
    <h1 class="main_title">Lista de tareas</h1>
    <h2 class="main_subtitle">Bienvenido a la app de lista de tareas</h2>
    <div class="container">
      <div class="container_register">
        <h4 class="register_title">¿Te quieres registrar?</h4>
        <a class="btn" href="/users/register">Register</a>
      </div>
      <div class="container_login">
        <h4 class="login_title">¿Ya tienes una cuenta?</h4>
        <a class="btn" href="/users/login">Login</a>
      </div>
    </div>
  </main>
</body>
</html>