<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/stylesheet/register.css">
</head>

<body>
  <h1 class="title">Resgistro de Usuario</h1>

  <ul class="list">
    <% if(typeof errors !=='undefined' ) {%>
      <% errors.forEach(error=> { %>
        <li class="list_item">
          <%= error.msg %>
        </li>
        <%});%>
          <%}%>
  </ul>

  <div class="container">
    <form action="/users/register" method="post">
      <div class="container_username">
        <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required>
      </div>
      <div class="container_email">
        <input type="email" id="email" name="email" placeholder="Correo Electronico" required>
      </div>
      <div class="container_password">
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
      </div>
      <div class="container_password">
        <input type="password" id="password2" name="password2" placeholder="Repetir contraseña" required>
      </div>
      <div class="btn">
        <input type="submit" value="Registrarse" class="btn_input">
      </div>
      <p class="text">¿Ya tienes una cuenta? <a href="/users/login">Login</a></p>
      <a class="inicio" href="/">Inicio</a>
    </form>
  </div>
</body>

</html>